@import './tokens';
@import './mixins';
* {
    margin: 0 0 0 0;
    font-family: $font1;
    font-size: 26px;
    font-weight: bold;
  }

  body {
    margin: 5vw;
    display: grid;
    grid-template-rows: 40vh repeat(3, 30vh) 50vh 30vh 30vh;
    background-color: $red;
    
      header {
        grid-row: 1/2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .bar-name {
          font-family: $font2;
          font-size: 5rem;
          font-weight: 300;
          color: $yellow;
          //text-shadow: 7px 8px 0px black;
        }
        .welcome{
          font-family: $font1;
          color: $yellow;
          font-size: 2rem;
          text-decoration: overline;
          margin: 7px 0;
        }
      
        .logo {
        width: 20vw;
        height: auto; 
        margin: 7px;
      
        }
      }
      .pizza-select {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        grid-row: 2/3;
        grid-column: 1/2;
        @include wrapper;
          .which_pizza{
            @include subtitle;
          }
          #pizza-select{
            @include input;
          }
        }
        
      }
      .sauce-wrapper {
        grid-row: 3/4;
        @include wrapper;
        .sauce-wrapper__div {
            height: 100%;
            display: flex;
            @include flexHorizontal;
            
          }
            .sauce-wrapper__label {
              display: inline-block;
              margin-right: 3vw;
            }
          }
          
          
      .drinks-wrapper {
        grid-row: 4/5;
        @include wrapper;
        .drinks-wrapper__div {
          height: 100%;
          display: flex;
          @include flexHorizontal;
          
        }
          .drinks__label {
            display: inline-block;
            margin-right: 3vw;
          }  
      }
    
      .personal-info {
        grid-row: 5/6;
       @include flex;
        @include wrapper;
        .personal-info__input{
            @include input;
            display:inline-block;;
            margin-bottom:2vh;

          }
        .personal-info__label {
          display:inline-block;
          margin: 1vh 5vw;
        }
      }

      .text-area-container {
        grid-row: 6/7;
        @include flexHorizontal;
        @include wrapper;
          #chef-message {
            @include input;
          }
      }
      .button-div {
        grid-row: 7/8;
      }
      .legend{
        @include legend;
      }  
      ::placeholder{
        color: black;
      
      }
      @keyframes myAnimations {
        from {
          transform: rotate(0deg);
        }
      
        50% {
          background-color: $green;
        }
      
        to {
          transform: rotate(360deg);
        }
      }
      .button-div{
        @include flex;
        #submit-btn {
          font-family: $font2;
          background-color: $yellow;
          border-radius: 50%;
          border: 3px solid black;
          width: 120px;
          height: 120px;
            &:hover{
              animation: myAnimations linear 1s;
            }
          
        }
    }
  @media screen and (max-width: 768px){ 
    body {
      grid-template-rows: 40vh repeat(3, 35vh) 70vh 30vh 30vh;
        header { 
          display: flex;
          flex-direction: column;
            .bar-name {
            font-size: 3rem;
          
          }
        }
    } 
  }