<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\css\style.css">
        <link rel="stylesheet" href="..\src\fonts\stylesheet.css">
        <title>U Janusza</title>
    </head>
    <body>
        <header>
            <div class="title">
                <h1 class="bar-name">U Janusza</h1>
                <h2 class="welcome">Elo, Mordo XD</h2>
            </div>
            <img class="logo" src="..\src\images\pizza_slice_yellow.png">
        </header>
       <div class="pizza-select">
        <label for="pizza-select" class="which_pizza">Jaką pizzunię?>>></label>
        <select name="pizzas" id="pizza-select">
            <option class='pizza-select__option' value="none">--Same spoko opcje--</option>
            <option class='pizza-select__option' value="Janusz">Szef Janusz poleca</option>
            <option class='pizza-select__option' value="Grazyna">Specjał Grażyny</option>
            <option class='pizza-select__option' value="Seba">Szama Sebixa</option>
            <option class='pizza-select__option' value="Brajan">Dla Brajanka</option>
            <option class='pizza-select__option' value="Dzesika">Dla Dżesiki </option>
            <option class='pizza-select__option' value="Karyna">Kebs Karyny</option>
        </select>
        </div> 
        <fieldset class="sauce-wrapper">
            <legend class="legend">Sosidło</legend>
            <div class="sauces">
                <input type="checkbox" id="mild" name="sauce" value="mild" >
                <label for="mild" class="sauce-wrapper__label">Lamersko-łagodny</label>
                <input type="checkbox" id="hot" name="sauce" value="hot">
                <label for="hot"class="sauce-wrapper__label">Lekki dreszczyk</label>
                <input type="checkbox" id="very-hot" name="sauce" value="very-hot">
                <label for="very-hot" class="sauce-wrapper__label">Mordę wykręca</label>
                <input type="checkbox" id="killer" name="sauce" value="killer">
                <label for="killer" class="sauce-wrapper__label">Szacun na dzielni</label>
            </div>
        </fieldset>
        </div>
        <fieldset class="drinks-wrapper">
                <legend class="legend">Ze mną nie wypijesz?</legend>
        <div class="drinks">
            <input type="checkbox" class="checkbox" id="coffee" name="drink" value="coffee">
            <label for="coffee" class="drinks__label">Kapuczyna</label>
            <input type="checkbox" class="checkbox" id="beer" name="drink" value="beer">
            <label for="beer" class="drinks__label">Piwerko</label>
            <input type="checkbox" class="checkbox" id="water" name="drink" value="water">
            <label for="water" class="drinks__label">H2O, bo prowadzę</label>
            </div>
        </fieldset>
        <fieldset class="personal-info">
            <legend class="legend">Dawaj dane</legend>
            <label for="name" class="personal-info__label">Imię i nazwisko</label>
            <input type="text" class="personal-info__input" id="name" name="" value="">
            <label for="email" class="personal-info__label">E-mail</label>
            <input type="text" class="personal-info__input" id="email" name="">
            <label for="address" class="personal-info__label">Adres dostawy</label>
            <input type="text" class="personal-info__input" id="address" name="">
            <label for="phone" class="personal-info__label" >Telefon</label>
            <input type="" id="phone" class="personal-info__input" name="" value="" placeholder="+48xxxxxxxxx">
        </fieldset>
    
        <fieldset class="text-area-container">
            <legend class="legend">Jak coś, to pisz</legend>
            <label for="chef-message"></label>
            <textarea class="text-area" id ="chef-message" placeholder="Cynk dla Janusza" rows="2" cols="50"></textarea>
        </fieldset>
        <div class="button-div">
            <button class="submit-btn" id="submit-btn">Dobra, bierę</button>
        </div>
        <script src="..\js\main.js"></script>
    </body>
</html>